-- MySQL dump 10.13  Distrib 5.5.29, for Win64 (x86)
--
-- Host: localhost    Database: elektraspace
-- ------------------------------------------------------
-- Server version	5.5.29

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrador`
--

DROP TABLE IF EXISTS `administrador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `administrador` (
  `idPerfil` int(11) NOT NULL,
  `fechaUltimoIngreso` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`idPerfil`),
  CONSTRAINT `administrador_ibfk_1` FOREIGN KEY (`idPerfil`) REFERENCES `perfil` (`idPerfil`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrador`
--

LOCK TABLES `administrador` WRITE;
/*!40000 ALTER TABLE `administrador` DISABLE KEYS */;
INSERT INTO `administrador` VALUES (1,'2025-10-29 04:12:18');
/*!40000 ALTER TABLE `administrador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificado`
--

DROP TABLE IF EXISTS `certificado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `certificado` (
  `idCertificado` int(11) NOT NULL AUTO_INCREMENT,
  `idPerfilUsuario` int(11) NOT NULL,
  `estadoCertificado` enum('Bloqueado','Disponible','Emitido') DEFAULT 'Bloqueado',
  `fechaEmision` date DEFAULT NULL,
  `desempeno` enum('Bajo','B┬ásico','Sobresaliente') DEFAULT NULL,
  PRIMARY KEY (`idCertificado`),
  KEY `idPerfilUsuario` (`idPerfilUsuario`),
  CONSTRAINT `certificado_ibfk_1` FOREIGN KEY (`idPerfilUsuario`) REFERENCES `usuario` (`idPerfil`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificado`
--

LOCK TABLES `certificado` WRITE;
/*!40000 ALTER TABLE `certificado` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historialacceso`
--

DROP TABLE IF EXISTS `historialacceso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historialacceso` (
  `idHistorial` int(11) NOT NULL AUTO_INCREMENT,
  `idPerfilUsuario` int(11) NOT NULL,
  `idModulo` int(11) NOT NULL,
  `fechaIngresoModulo` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fechaSalidaModulo` timestamp NULL DEFAULT NULL,
  `tiempoUso` decimal(6,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`idHistorial`),
  KEY `idPerfilUsuario` (`idPerfilUsuario`),
  KEY `idModulo` (`idModulo`),
  CONSTRAINT `historialacceso_ibfk_1` FOREIGN KEY (`idPerfilUsuario`) REFERENCES `usuario` (`idPerfil`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `historialacceso_ibfk_2` FOREIGN KEY (`idModulo`) REFERENCES `modulo` (`idModulo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historialacceso`
--

LOCK TABLES `historialacceso` WRITE;
/*!40000 ALTER TABLE `historialacceso` DISABLE KEYS */;
INSERT INTO `historialacceso` VALUES (2,2,1,'2025-10-30 09:29:35',NULL,0.00);
/*!40000 ALTER TABLE `historialacceso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modulo`
--

DROP TABLE IF EXISTS `modulo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `modulo` (
  `idModulo` int(11) NOT NULL AUTO_INCREMENT,
  `idPerfilAdministrador` int(11) NOT NULL,
  `estadoModulo` enum('Disponible','Sellado','Terminado') DEFAULT 'Disponible',
  `descripcionModulo` text NOT NULL,
  `nombreModulo` varchar(20) NOT NULL,
  `ordenSecuencia` int(11) NOT NULL,
  PRIMARY KEY (`idModulo`),
  UNIQUE KEY `ordenSecuencia` (`ordenSecuencia`),
  KEY `idPerfilAdministrador` (`idPerfilAdministrador`),
  CONSTRAINT `modulo_ibfk_1` FOREIGN KEY (`idPerfilAdministrador`) REFERENCES `administrador` (`idPerfil`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modulo`
--

LOCK TABLES `modulo` WRITE;
/*!40000 ALTER TABLE `modulo` DISABLE KEYS */;
INSERT INTO `modulo` VALUES (1,1,'Disponible','Tu nave se estrella en un mundo de cristales azules brillantes. Los fragmentos de tu motor est┬án esparcidos, pero notas que los cristales emiten una extra┬ña energ┬ía. Un holograma aparece: \'Explorador, has llegado a ATOMOS. Para reparar tu nave y continuar, debes dominar los secretos de la materia fundamental.\'','ATOMOS',1);
/*!40000 ALTER TABLE `modulo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perfil`
--

DROP TABLE IF EXISTS `perfil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perfil` (
  `idPerfil` int(11) NOT NULL AUTO_INCREMENT,
  `nombres` varchar(30) NOT NULL,
  `apellidos` varchar(40) NOT NULL,
  `temaVisual` tinyint(4) NOT NULL DEFAULT '0',
  `idioma` tinyint(4) NOT NULL DEFAULT '0',
  `genero` enum('Masculino','Femenino','Otro') DEFAULT NULL,
  `fechaNacimiento` date DEFAULT NULL,
  `correo` varchar(60) NOT NULL,
  `contrasena` varchar(40) NOT NULL,
  PRIMARY KEY (`idPerfil`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perfil`
--

LOCK TABLES `perfil` WRITE;
/*!40000 ALTER TABLE `perfil` DISABLE KEYS */;
INSERT INTO `perfil` VALUES (1,'Angel Mauricio','Barragan Cotacio',0,0,'Masculino','2006-05-09','a@a','a'),(2,'Carolina','Bernal Diaz',0,0,'Femenino','2003-12-21','car@udla.edu.co','carolina123');
/*!40000 ALTER TABLE `perfil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preguntaquiz`
--

DROP TABLE IF EXISTS `preguntaquiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `preguntaquiz` (
  `idPreguntaQuiz` int(11) NOT NULL AUTO_INCREMENT,
  `idQuiz` int(11) NOT NULL,
  `enunciado` text NOT NULL,
  PRIMARY KEY (`idPreguntaQuiz`),
  KEY `idQuiz` (`idQuiz`),
  CONSTRAINT `preguntaquiz_ibfk_1` FOREIGN KEY (`idQuiz`) REFERENCES `quiz` (`idQuiz`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preguntaquiz`
--

LOCK TABLES `preguntaquiz` WRITE;
/*!40000 ALTER TABLE `preguntaquiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `preguntaquiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progreso`
--

DROP TABLE IF EXISTS `progreso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `progreso` (
  `idProgreso` int(11) NOT NULL AUTO_INCREMENT,
  `idPerfilUsuario` int(11) NOT NULL,
  `idModulo` int(11) NOT NULL,
  `tiempoTotalInvertido` time DEFAULT '00:00:00',
  `porcentajeModulo` int(11) DEFAULT '0',
  PRIMARY KEY (`idProgreso`),
  KEY `idPerfilUsuario` (`idPerfilUsuario`),
  KEY `idModulo` (`idModulo`),
  CONSTRAINT `progreso_ibfk_1` FOREIGN KEY (`idPerfilUsuario`) REFERENCES `usuario` (`idPerfil`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `progreso_ibfk_2` FOREIGN KEY (`idModulo`) REFERENCES `modulo` (`idModulo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progreso`
--

LOCK TABLES `progreso` WRITE;
/*!40000 ALTER TABLE `progreso` DISABLE KEYS */;
/*!40000 ALTER TABLE `progreso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz`
--

DROP TABLE IF EXISTS `quiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quiz` (
  `idQuiz` int(11) NOT NULL AUTO_INCREMENT,
  `idModulo` int(11) NOT NULL,
  `puntajeQuiz` int(11) DEFAULT '1',
  PRIMARY KEY (`idQuiz`),
  KEY `idModulo` (`idModulo`),
  CONSTRAINT `quiz_ibfk_1` FOREIGN KEY (`idModulo`) REFERENCES `modulo` (`idModulo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz`
--

LOCK TABLES `quiz` WRITE;
/*!40000 ALTER TABLE `quiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `respuesta`
--

DROP TABLE IF EXISTS `respuesta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `respuesta` (
  `idRespuesta` int(11) NOT NULL AUTO_INCREMENT,
  `idPreguntaQuiz` int(11) NOT NULL,
  `opcion` varchar(100) NOT NULL,
  `esCorrecta` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`idRespuesta`),
  KEY `idPreguntaQuiz` (`idPreguntaQuiz`),
  CONSTRAINT `respuesta_ibfk_1` FOREIGN KEY (`idPreguntaQuiz`) REFERENCES `preguntaquiz` (`idPreguntaQuiz`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `respuesta`
--

LOCK TABLES `respuesta` WRITE;
/*!40000 ALTER TABLE `respuesta` DISABLE KEYS */;
/*!40000 ALTER TABLE `respuesta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `simulacion`
--

DROP TABLE IF EXISTS `simulacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `simulacion` (
  `idSimulacion` int(11) NOT NULL AUTO_INCREMENT,
  `idModulo` int(11) NOT NULL,
  `estadoSimulacion` enum('Completada','Incompleta') DEFAULT 'Incompleta',
  `descripcionSimulacion` text NOT NULL,
  `nombreSimulacion` varchar(40) NOT NULL,
  PRIMARY KEY (`idSimulacion`),
  KEY `idModulo` (`idModulo`),
  CONSTRAINT `simulacion_ibfk_1` FOREIGN KEY (`idModulo`) REFERENCES `modulo` (`idModulo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `simulacion`
--

LOCK TABLES `simulacion` WRITE;
/*!40000 ALTER TABLE `simulacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `simulacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `idPerfil` int(11) NOT NULL,
  `fechaCreacionCuenta` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `puntajeAcumulado` int(11) DEFAULT '0',
  PRIMARY KEY (`idPerfil`),
  CONSTRAINT `usuario_ibfk_1` FOREIGN KEY (`idPerfil`) REFERENCES `perfil` (`idPerfil`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (2,'2025-10-30 00:51:14',0);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-11 19:27:56
