.password-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.password-card {
  position: fixed;
  z-index: 12;
  background: rgba(28, 27, 27, 0.9);
  border-radius: 20px;
  border: 2px solid gray;
  padding: 2rem 3rem;
  color: white;
  text-align: center;
  max-width: 350px;
  font-family: Inter;
}
.password-card h1 {
  font-family: orbitron;
  text-shadow: 0 0 20px rgb(237, 23, 183);
  font-size: 24px;
  margin-bottom: 10%;
}

.close {
  position: absolute;
  width: 50px;
  background-color: red;
  font-size: 20px;
  border-radius: 15px;
  right: 0%;
  top: 0%;
  padding: 5px;
}
.savePassword {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(236, 60, 89), #ba0e7b);
  border: none;
}
.savePassword:hover, .close:hover{
   transform: scale(1.05);
   font-weight: 700;
}