.intro-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.intro-card {
  position: fixed;
  z-index: 12;
  background: rgba(28, 27, 27, 0.9);
  border-radius: 20px;
  border: 2px solid gray;
  padding: 2rem 3rem;
  color: white;
  text-align: center;
  max-width: 550px;
  font-family: Inter;
 }
 .intro-card h2{
  font-family: orbitron;
  text-shadow: 0 0 20px rgb(23, 80, 237);
  font-size: 28px;
  margin: 0%;
 }
 .intro-card p{
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: 5%;
 }
 .intro-section{
  border-radius: 15px;
  background-color: rgb(64, 46, 98);
  padding: 1px;
 }
 .intro-section p{
  margin-top: 0%;
  font-size: 16px;
 }

 .intro-icons{
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-top: 25px;
  font-size: 16px;
  gap: 120px; 
 }
 .intro-icons span{
  font-size: 30px;
 }
.icons-left, .icons-right{
  flex-direction: column;
   margin-left:5% ;
}
.start-btn {
  margin-top: 2rem;
  padding: 12px 20px;
  font-weight: 800;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  background: linear-gradient(90deg, #3b82f6, #9333ea);
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.start-btn:hover {
  transform: scale(1.08);
}
