/*---------------------------------------Estilo para login-------------------------------------------*/
#login-box {
  height: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(circle at top, #1a1a2e, #000); 
  padding: 1.5rem;
  border: 4px solid;
  border-radius: 2rem;
}

.title {
  font-family: Orbitron, monospace;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 8px cyan, 0 0 16px blue, 0 0 24px violet;
}
::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.8;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 3rem;
  opacity: 0.9;
}

label {
  display: flex;
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
}

input {
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  width: 90%;
  margin-bottom: 2rem;
}

.button-login {
  display: inline-block;
  padding: 10px 20px;
  width: 98%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #3b82f6, #9333ea);
  color: white;
  margin-top: 10px;
  text-align: center;
}

.button-login:hover {
  color: white;
  transform: scale(1.05);
}
p {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.8;
}
