.navBar {
  position: fixed;
  left: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0);
  border: 2px solid white;
  z-index: 10;
  height: 210px;
}
.navBar button {
  width: 100%;
  background: none;
  border: none;
  font-size: 16px;
  padding: 15px;
  border-radius: 15px;
}
.navBar button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45), 0 0 10px rgba(255, 255, 255, 0.06);
}
