.toggle-switch {
  width: 60px;
  height: 32px;
  background-color: #080808;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch.on {
  background-color: #e9f41e; 
}

.switch-handle {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease, background-color 0.3s ease;
}

.toggle-switch.on .switch-handle {
  left: 31px;
  background-color: #e8f5e9;
}

.toggle-switch.off .switch-handle {
  background-color: #f1f1f1;
}
